/*Общие Стили*/

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', arial;
  font-size: 15px;
  color: #000000;
  background-color: #fff;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h2, p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/raleway-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/raleway-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

/*Шапка Сайта*/

.page-header {
  padding-top: 30px;
  background: url(../img/bg-header.jpg) no-repeat;
  background-size: cover;
}
.page-header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 150px;
}
.page-header-logo:hover {
  opacity: 0.8;
}
.page-header-menu {
  list-style-type: none;
  margin: 0;
}
.page-header-menu li {
  display: inline-block;
  margin-right: 35px;
}
.page-header-menu li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Raleway Bold", arial;
}
.page-header-menu li > a:hover {
  text-decoration: underline;
}
.login {
  padding: 8px 25px;
  border-radius: 5px;
  border:1px solid #fff;
  color: #fff;
  font-size: 16px;
  font-family: "Raleway Bold", arial;
}
.login:hover {
  border: 1px solid #000;
  color: #000;
}
.page-header-title {
  text-align: center;
  letter-spacing: 5px;
  color: #fff;
  font-size: 72px;
  font-family: "Raleway Bold", arial;
}
.page-header-text {
  padding-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
}
.find-form {
  text-align: center;
  padding-bottom: 200px;
}
.find-form input[type="text"] {
  padding-left: 20px;
  border-radius: 5px 0 0 5px;
  border: 0;
  width: 550px;
  height: 50px;
  color: #717171;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Raleway Regular", arial;
}
.find-form input[type="text"]:focus {
  outline: 0;
}
.find-form input[type="submit"] {
  margin-left: -15px;
  border-radius: 0 5px 5px 0;
  border: 0;
  width: 200px;
  height: 52px;
  background: #e7434e url(../img/sailboat.png) no-repeat 35px 18px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Raleway Bold", arial;
  cursor: pointer;
}
.find-form input[type="submit"]:hover {
  background-color: #d6414b;
}

/*Блок Numbers*/

.numbers-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.numbers-block {
  margin-bottom: 80px;
  margin-top: -50px;
  padding-bottom: 30px;
  width: 300px;
  text-align: center;
  border-right: 1px solid #d4d4d4;
  background-color: #fff;
  box-shadow: 0px 8px 6px 0px #f2f2f2;
  border-radius: 5px;
}
.numbers-block:last-child {
  border-right: none;
}
.numbers-block-title {
  font-weight: bold;
  color: #343434;
  font-size: 30px;
}
.numbers-block-info {
  margin-top: -20px;
  color: #343434;
  font-size: 18px;
}

/*Блок Explore*/

.explore-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #343435;
  font-size: 30px;
  font-family: "Raleway Regular", arial;
}
.explore-info {
  padding-bottom: 80px;
  text-align: center;
  color: #717171;
  font-size: 16px;
}
.explore-wrapper {
  display: flex;
  justify-content: space-between;
}
.explore-block {
  display: inline-block;
  margin-bottom: 100px;
  width: 369px;
  height: 361px;
  background: url(../img/explore-block-1.jpg) no-repeat;
  opacity: 0.8;
}
.explore-block:hover {
  opacity: 1;
}
.explore-block:nth-child(2) {
  background: url(../img/explore-block-2.jpg) no-repeat;
}
.explore-block:nth-child(3) {
  background: url(../img/explore-block-3.jpg) no-repeat;
}
.explore-block-boat {
  margin-left: 20px;
  margin-top: 20px;
  width: 50px;
  padding-left: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background: #e7434e url(../img/sailboat.png) no-repeat 18px 8px;
}
.explore-block-port {
  margin-top: 220px;
  margin-left: 20px;
  color: #fff;
  font-size: 30px;
  font-family: "Raleway Regular", arial;
}
.explore-block-country {
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
  font-family: "Raleway Regular", arial;
}
.btn {
  display: block;
  max-width: 130px;
  margin: 0 auto;
  padding: 20px 45px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #343434;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Raleway Bold", arial;
}
.btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.btn:active {
  text-decoration: underline;
}

/*Блок Boat*/

.boat {
  margin-top: 80px;
  padding-top: 170px;
  padding-bottom: 140px;
  background: url(../img/bg-boat.jpg) no-repeat;
  background-size: cover;
}
.boat-title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 72px;
  font-family: "Raleway Bold", arial;
}
.boat-info {
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}
.boat-btn {
  display: block;
  margin: 0 auto;
  padding: 20px 40px;
  width: 240px;
  background: #e7434e;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Raleway Bold", arial;
}
.boat-btn:hover {
  background-color: #d6414b;
}

/*Блок Featured*/

.featured {
  margin-top: 80px;
}
.featured-title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  color: #343435;
  font-family: "Raleway Regular", arial;
}
.featured-info {
  margin-bottom: 60px;
  text-align: center;
  color: #717171;
  font-size: 16px;
}
.featured-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}
.featured-block-price {
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e7434e;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.featured-block-name {
  color: #fff;
  letter-spacing: 3px;
  font-size: 30px;
  font-family: "Raleway Regular", arial;
}
.featured-block-place {
  display: inline-block;
  margin-left: 25px;
  margin-right: 50px;
  padding-left: 20px;
  font-size: 16px;
  color: #fff;
  background: url(../img/marker-icon.png) no-repeat;
}
.featured-block-members {
  display: inline-block;
  padding-left: 30px;
  font-size: 16px;
  color: #fff;
  background: url(../img/members-icon.png) no-repeat 0 2px;
}

section {
    display: inline-block;
    margin-top: 20px;
}

.featured-block {
    position: relative;
    width: 574px;
    height: 340px;
    background-color: #ffffff;
    overflow: hidden;
}

.featured-block .featured-details {
    display: none;
    width: 574px;
    height: 340px;
    padding-top: 60px;
    color: #ffffff;
    border-radius: 5px;
    background-color: rgba(60, 60, 60, 0.8);
}

.featured-details header {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
    font-family: "Raleway Regular", arial;
}

.featured-details p {
    width: 70%;
    margin: 10px auto;
    line-height: 1.4;
}

.featured-button {
    position: relative;
    top: 50px;
    left: -180px;
    z-index: 2;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    background-color: #2f3644;
    border-radius: 20px;
}

.featured-button:hover {
    color: #2f3644;
    background-color: #ffffff;
}

.featured-block.techmarkt {
    background: url(../img/featured-block-1.jpg) no-repeat;
}
.featured-block.techmarkt-2 {
    background: url(../img/featured-block-2.jpg) no-repeat;
}
.featured-block.techmarkt-3 {
    background: url(../img/featured-block-3.jpg) no-repeat;
}
.featured-block.techmarkt-4 {
    background: url(../img/featured-block-4.jpg) no-repeat;
}
.featured-block:hover .featured-details {
    display: block;
    cursor: pointer;
}
/*Блок Футер*/

.page-footer {
  margin-top: 100px;
  padding-top: 45px;
  padding-bottom: 72px;
  background-color: #404040;
  border-top: 10px solid #e7434e;
}
.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.page-footer-block {
  color: #fff;

}
.footer-block-title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Raleway Regular", arial;
}
.page-footer-block ul {
  list-style-type: none;
  padding: 0;
}

.page-footer-block ul > li > a {
  color: #fff;
  font-size: 14px;
  line-height: 34px;
}
.page-footer-block ul > li > a:hover {
  text-decoration: underline;
}
.subscribe-form {
  margin-top: 25px;
}
.subscribe-form input[type="email"] {
  padding-left: 20px;
  width: 250px;
  height: 40px;
  border: 0;
  color: #717171;
  background-color: #fff;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
}
.subscribe-form input[type="email"]:focus {
  outline: 0;
}
.subscribe-form input[type="submit"] {
  margin-left: -3px;
  width: 140px;
  height: 42px;
  border: 0;
  color: #fff;
  background-color: #e7434e;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.subscribe-form input[type="submit"]:hover {
  background-color: #d6414b;
}
.footer-social-block {
    width: 270px;
    margin-top: 40px;
}
.social {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    background: #717171 url("../img/social-sprite.png") no-repeat;
    vertical-align: middle;
}
.social-vk {
    background-position: 6px 9px;
}
.social-vk:hover {
  background-color: #6d8fb3;
}
.social-fb {
    background-position: -35px 9px;
}
.social-fb:hover {
  background-color: #526da3;
}
.social-tw {
    background-position: -78px 9px;
}
.social-tw:hover {
  background-color: #73bfe6;
}

/*Форма Входа*/

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;
  display: none;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f3f0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}
.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}
.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.login-form input:focus {
  border-color: #663d15;
}
.login-form input.icon-user {
  background: url(../img/sprite.png) no-repeat;
  background-position: 100% -504px;
}
.login-form input.icon-password {
  background: url(../img/sprite.png) no-repeat;
  background-position: 100% -45px;
}
.login-form .restore {
  margin-left: 25px;
  text-decoration: underline;
  color: #000000;
}
.login-form .btn-login {
  width: 100%;
  margin-top: 15px;
  color: #fff;
  padding: 10px 0;
  background-color: #000;
  border: 0;
  cursor: pointer;
}
.login-form .btn-login:hover {
  color: #663d15;
}
.login-form .btn-login:focus {
  outline: 0;
}
.login-checkbox input[type="checkbox"] {
  display: none;
}
.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.login-checkbox:hover {
  color: #663d15;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
